.task{
		width: 80%;
		margin: 30px auto;
		border: 5px solid palevioletred;
		text-align: left;
}
.clearfix::after {
		content: "";
		clear: both;
		display: table;
}
.check{
		width: 20px;
}
.remove{
		float: right;
}
.task-text{
		display: inline-block;
}
