.addTask{
		width: 80%;
		height: 40px;
		margin: 0 auto;
}
input{
		width: 70%;
		border-color: palevioletred;
		padding: 10px;
		color: palevioletred;
		font-style: italic;
		font-size: 16px;
		font-family: 'Neucha', cursive;
}
button{
		margin-left: 30px;
		background: white;
		font-family: 'Neucha', cursive;
		font-size: 20px;
		font-weight: bold;
		color: palevioletred;
		font-style: italic;
		padding: 10px 20px;
		border: 5px solid palevioletred;
}